@media (max-width: 768px) {
    .top {
        padding: 0 12px;
    }
    .about-item {
       width: 100%; 
    }
    .food-list{
        width: 100%;
    }
    .feedback-list__item {
        width: 100%;
        margin-bottom: 20px ;
    }
    .team-items {
        width: 100%;
        margin-bottom: 40px;
    }
}